#update-profile-success{
    width: 100vw; height: 100vh;
    position: absolute;
    z-index:9999;
    top:0; left:0;
    background-color: white;
}
#update-profile-information{
    font-size: 24px;
}