h1{
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
/* input toggle styles */
#toggleOn{
    font-size:80px;
}
#toggleOff{
    font-size:80px;
    color:'rgb(161, 255, 161)';
}
#toggleSmsAlerts{
    display: none;
}